
.grid-container {
	display: inline-grid;
	grid-template-rows: repeat(4, 150px);
	grid-template-columns: repeat(4, 150px);
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	align-items: center;
	background-color: red;
	padding: 20px;
}

.card {
	border-radius: 20px;
	width: 150px;
	height: 150px;
	background-color: #EE7621;
	transition-property: background-color 0.2s, transform 0.2s;
	transition-duration: 0.2s;
}

.card:active {
	background-color: #458B74;
	transform: rotateY(180deg);
}

.visible {
	border-radius: 20px;
	background-color: #458B74;
	width: 150px;
	height: 150px;
	display: grid;
}

.hidden {
	display: none;
}

.fail {
	border-radius: 20px;
	background-color: #458B74;
	width: 150px;
	height: 150px;
	display: grid;
	animation: failMatch 2s;
}

@keyframes failMatch {
	0% {
		transform: rotate(0deg);
		background-color: #458B74;
	}
	33% {
		transform: rotate(10deg);
		background-color: #ff0000;
	}
	100% {
		transform: rotate(0deg);
		background-color: #458B74;
	}
}

.icon {
	width: 30px;
	height: 30px;
	padding: 60px auto 60px auto;
}

.match {
	border-radius: 20px;
	background-color: #458B74;
	width: 150px;
	height: 150px;
	display: grid;
	animation: matchedCards 1s;
}

@keyframes matchedCards{
	0% {
		transform: scale(1);
		background-color: #458B74;
	}
	33% {
		transform: scale(0.5);
		background-color: #ffff00;
	}
	100% {
		transform: scale(1);
		background-color: #458B74;
	}
}
